<footer class="metadax-footer">
  <div class="metadax-container">
    <div class="metadax-footer-grid">
      <div class="metadax-footer-section">
        <h4>Institucional</h4>
        <ul>
          <li><a translate="yes" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/#sobre">Sobre a METADAX</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/institucional/governanca">Governança</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/transparencia">Transparência</a></li>
          <li><a translate="yes" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/#ecossistema">Ecossistema</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/manual-de-marca">Manual de
              Marca</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/oportunidades">Vagas</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/oportunidades/programa-de-estagio-voluntario">Programa
              de Estágio</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/links/cartao-de-visita-virtual">Cartão
              de Visita Virtual</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/eventos">Eventos</a></li>
        </ul>
      </div>
      <div class="metadax-footer-section">
        <h4>Marketing</h4>
        <ul>
          <li><a translate="yes" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/marketing">Conheça nossa
              agência</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/app/analisador-de-metricas-de-conteudo/analisar">Analisador
              de Conteúdo</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/app/descubra-o-peso-de-livros/verificar">Estimador
              de Peso de Livros</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/app/descubra-o-valor-da-sua-hora-de-trabalho/descobrir">Precificação
              Freelancer</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/app/avaliador-de-orcamento-do-google-ads/calcular">Orçamento
              de Google Ads</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://predify-ads.metadax.com.br/">Análise Preditiva de
              Google Ads</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://audiovisual.metadax.com.br/">Projetos
              Audiovisuais</a></li>
        </ul>
      </div>
      <div class="metadax-footer-section">
        <h4>Tecnologia</h4>
        <ul>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://lp.metadax.com.br/">Contratar serviços</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener" href="https://ghgpr.metadax.com.br">GHG
              Protocol</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://neovolt.metadax.com.br">Neovolt Energia
              Sustentável</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/ecossistema/startups/econx">ECONX</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://analise-de-requisitos.metadax.com.br/">Planejamento
              de Projetos</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/app/securepass">Gerador de
              Senhas</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://tokens.metadax.com.br/">Tokens de Acesso</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/p&d">P&D</a></li>
        </ul>
      </div>
      <div class="metadax-footer-section">
        <h4>Educação</h4>
        <ul>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/biblioteca/">Biblioteca</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/certificados">Certificados</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://veiacriativa.metadax.com.br">VeiaCriativa.org</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://anipf.org">ANIPF.org</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://ietesp.metadax.com.br">IETESP</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://capivara.seg.br/">CAPIVARA.SEG</a></li>
        </ul>
      </div>
      <div class="metadax-footer-section">
        <h4>Contato</h4>
        <ul>
          <li><small><a target="_blank" referrerpolicy="nooreferrer"
                rel="nooreferrer noopener" href="tel:+5511961360594">+55 11
                96136-0594</a></small></li>
          <li><small><a
                href="mailto:contato@metadax.com.br">contato@metadax.com.br</a></small></li>
        </ul>
        <h4 class="metadax-mt-4">Segurança</h4>
        <ul>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/institucional/governanca/politicas/privacidade">Política
              de Privacidade</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/institucional/governanca/politicas/seguranca">Política
              de Segurança</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/institucional/governanca/politicas/cookies">Política
              de Cookies</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://metadax.com.br/institucional/governanca/termos/termos-de-uso">Termos
              de Uso</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://status.metadax.com.br/">Status de Sistemas</a></li>
          <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer"
              rel="nooreferrer noopener"
              href="https://uptime.betterstack.com/report/6ZHLuVpcMGsyy6uWXwmDj5VC">Informe
              de Incidentes</a></li>
        </ul>
      </div>
    </div>
    <div class="metadax-socialbadges">
      <small><a target="_blank" referrerpolicy="nooreferrer"
          rel="nooreferrer noopener"
          href="https://www.linkedin.com/company/metadaxbr/">LinkedIn</a></small>
      <small>|</small>
      <small><a target="_blank" referrerpolicy="nooreferrer"
          rel="nooreferrer noopener"
          href="https://www.instagram.com/metadaxbr/">Instagram</a></small>
      <small>|</small>
      <small><a target="_blank" referrerpolicy="nooreferrer"
          rel="nooreferrer noopener"
          href="https://www.youtube.com/@Metadax">YouTube</a></small>
      <small>|</small>
      <small><a target="_blank" referrerpolicy="nooreferrer"
          rel="nooreferrer noopener"
          href="https://github.com/metadax">GitHub</a></small>
      <small>|</small>
      <small><a target="_blank" referrerpolicy="nooreferrer"
          rel="nooreferrer noopener"
          href="https://www.facebook.com/metadaxbr/">Facebook</a></small>
    </div>
    <div class="metadax-copyright">
      <div class="metadax-small-metadax-info">
        © 2025 METADAX - 59.324.751/0001-06 - Todos os direitos reservados
      </div>
      Avenida Paulista, nº 1106, Sala 01, Andar 16, Bela Vista, São Paulo, SP,
      CEP 01310-914, Brasil
    </div>

    <!-- SocialBadges Added -->
    <!-- <div class="metadax-small-socialbadges">
      <div class="metadax-small-socialbadges-item" id="1">
        <a
          href="https://www.credly.com/earner/earned/badge/bc8715c1-873b-40da-a0a2-059d1c955a99"
          rel="noopener nooreferrer"
          target="_blank">
          <img
            title="badge"
            src="https://cdn.metadax.cloud/assets/images/metadax/badges/cyber-threat-management.png"
            alt="Selo Cyber Threat Management"
            loading="lazy">
        </a>
      </div>
    </div> -->


  </div>
</footer>
