<footer class="metadax-footer">
    <div class="metadax-container">
        <div class="metadax-footer-grid">
            <div class="metadax-footer-section">
                <h4>Institucional</h4>
              <ul>
                <li><a translate="yes" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/#sobre">Sobre a METADAX</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/transparencia/portal.html">Transparência</a></li>
                <li><a translate="yes" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/#ecossistema">Ecossistema</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/manual-de-marca/index.html">Manual de Marca</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/oportunidades/index.html">Vagas e Oportunidades</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/oportunidades/programa-de-estagio-voluntario.html">Programa de Estágio Voluntário</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/links/cartao-de-visita-virtual.html">Cartão de Visita Virtual</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/eventos">Eventos</a></li>
              </ul>
            </div>
            <div class="metadax-footer-section">
                <h4>Marketing</h4>
              <ul>
                <li><a translate="yes" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/marketing/agencia.html">Conheça nossa agência</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/app/analisador-de-metricas-de-conteudo/analisar.html">Analisador de Conteúdo</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/app/descubra-o-peso-de-livros/verificar.html">Estimador de Peso de Livros</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/app/descubra-o-valor-da-sua-hora-de-trabalho/descobrir.html">Precificação Freelancer</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/app/avaliador-de-orcamento-do-google-ads/calcular.html">Orçamento de Google Ads</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://predify-ads.metadax.com.br/">Análise Preditiva de Google Ads</a></li>
              </ul>
            </div>
            <div class="metadax-footer-section">
                <h4>Tecnologia</h4>
              <ul>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/biblioteca/">Contratar serviços</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://ghgpr.metadax.com.br">GHG Protocol</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://neovolt.metadax.com.br">Neovolt Energia Sustentável</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://arv01.proj.adm.metadax.com.br">Planejamento de Projetos</a></li>
              </ul>
            </div>
            <div class="metadax-footer-section">
                <h4>Educação</h4>
              <ul>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/biblioteca/">Biblioteca</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://cert.metadax.com.br">Certificados</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://veiacriativa.org">VeiaCriativa.org</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://anipf.org">ANIPF.org</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://www.ietesp.com.br">IETESP</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://capivara.seg.br/">CAPIVARA.SEG</a></li>
              </ul>
            </div>
            <div class="metadax-footer-section">
                <h4>Contato</h4>
                <ul>
                <li><small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="tel:+5511961360594">+55 11 96136-0594</a></small></li>
                <li><small><a href="mailto:contato@metadax.com.br">contato@metadax.com.br</a></small></li>
              </ul>
                <h4 class="metadax-mt-4">Segurança</h4>
              <ul>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/institucional/governanca/politicas/privacidade.html">Política de Privacidade</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/institucional/governanca/politicas/cookies.html">Política de Cookies</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/institucional/governanca/termos/termos-de-uso.html">Termos de Uso</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://metadax.com.br/app/securepass/gerar.html">Gerador de Senhas</a></li>
                <li><a translate="yes" target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://tokens.metadax.com.br/">Tokens de Acesso</a></li>
              </ul>
            </div>
        </div>
        <div class="metadax-small-sociallinks">
            <small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://www.linkedin.com/company/metadaxbr/">LinkedIn</a></small>
            <small>|</small>
            <small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://www.instagram.com/metadaxbr/">Instagram</a></small>
            <small>|</small>
            <small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://www.youtube.com/@Metadax">YouTube</a></small>
            <small>|</small>
            <small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://github.com/metadax">GitHub</a></small>
            <small>|</small>
            <small><a target="_blank" referrerpolicy="nooreferrer" rel="nooreferrer noopener" href="https://www.facebook.com/metadaxbr/">Facebook</a></small>
        </div>
        <div class="metadax-copyright">
            <div class="metadax-small-metadax-info">
                <small>Avenida Paulista, 1106, Sala 01, Andar 16, Bela Vista, São Paulo, SP, CEP 01310-914, Brasil</small>
            </div>
            © 2025 METADAX - 59.324.751/0001-06 - Todos os direitos reservados
        </div>
    </div>
</footer>