<header class="metadax-header">
    <div class="metadax-container">
        <div class="metadax-header-content">
            <a href="/" class="metadax-logo-link">
                <!-- Imagem do logo alterada para a versão azul, que é a principal em fundos brancos -->
                <img src="https://cdn.metadax.cloud/assets/images/logo-black.png" alt="metadax Logo">
            </a>
            <button class="metadax-menu-toggle" aria-label="Menu" aria-expanded="false" onclick="document.querySelector('.metadax-nav').classList.toggle('active');">
                ☰
            </button>
            <ul class="metadax-nav">
                <li class="metadax-nav-link-item"><a translate="yes" href="/#sobre" class="metadax-nav-link">Sobre</a></li>
                <li class="metadax-nav-link-item"><a translate="yes" href="/#servicos" class="metadax-nav-link">Serviços</a></li>
                <li class="metadax-nav-link-item"><a translate="yes" href="/#clientes" class="metadax-nav-link">Clientes</a></li>
                <li class="metadax-nav-link-item"><a translate="yes" href="/#parceiros" class="metadax-nav-link">Parceiros</a></li>
                <li class="metadax-nav-link-item">
                    <button class="metadax-cta-button" onclick="window.open('https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ1k0PYIkaxZuXh9VatjRdtDZlpeKXVeAo8N9B9iV1DFTqnP-hLM6OvcgoYC57xZM0pEuLugeubD', '_blank', 'noopener,noreferrer')">
                        Agende uma conversa
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>
